.snippet {
  position: relative;
  border-radius: 7px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.10);
  padding: 8px 12px;
  background-color: var(--background-lighter);
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.snippet:hover {
  background-color: var(--background-lighter-hover);
}

.snippet:nth-child(2n) {
  background-color: var(--background-grey);
}

.snippet:nth-child(2n):hover {
  background-color: var(--background-grey-hover);
}

.snippet_title {
  margin-bottom: 4px;
  padding-right: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.snippet__expand-icon{
  position: absolute;
  top: 8px;
  right: 12px;
}

.snippet__bottom-row {
  display: flex;
  justify-content: space-between;
}

.snippet__deadline {
  font-weight: 300;  
}

.snippet__value {
  font-weight: bold;
}