.button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-block: auto;
  position: relative;
}

.button__svg {
  display: block;
}

.button__rect {
  pointer-events: none;
  transition: stroke-dashoffset 0.4s ease-out;
}

.button:hover .button__rect {
  transition-timing-function: ease-in;
}

.button__plus {
  position: absolute;
  inset: 0;
  margin: auto;
  transition: scale 0.2s ease-out;
  pointer-events: none;
}

.button:hover .button__plus {
  scale: 1.075;
}
