.delete-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--danger-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 6px;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.delete-icon:hover {
  background-color: var(--danger-hover);
}

.modal__accept-button {
  background-color: var(--danger-color);
  padding: 16px 24px;
  border-radius: 16px;
  border-radius: clamp(8px, 2vmin, 16px);
}

.modal__accept-button:hover {
  background-color: var(--danger-hover);
}
