.wrapper {
  position: relative;
  color: white;
  height: 280px;
  width: 280px;
}

.task-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 26px;
  padding: 18px 22px;
  background-color: var(--background-contrast);
  color: white;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.task-widget_loading {
  opacity: 0.5;
}

.task-widget__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.task-widget__description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.task-widget__bottom-row {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.task-widget__value {
  font-weight: bold;
}

.task-widget__deadline {
  font-weight: 300;
}

.task-widget__spinner {
  position: absolute;
  inset: 0;
  margin: auto;
}

@media screen and (hover: hover) {
  .task-widget__delete-icon {
    --ease-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    opacity: 0;
    scale: 0;
    transition: opacity 0.2s var(--ease-back), scale 0.2s var(--ease-back), background-color 0.1s ease-out;
  }

  .wrapper:hover .task-widget__delete-icon {
    --ease-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    scale: 1;
  }
}
