textarea.textarea-description {
  min-height: 160px;
}

.scope-select {
  margin-bottom: 24px;
}

.value-select {
  width: 160px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
}

.deadline {
  text-align: center;
}
