.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: -1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  min-width: 360px;
  min-height: 280px;
  background-color: var(--background-contrast);
  border-radius: 32px;
  box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 0.25);
  padding: 28px 32px;
}

/* Transitions */

.modal_enter {
  opacity: 0;
}

.modal_enter-active {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.modal_exit {
  opacity: 1;
}

.modal_exit-active {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.modal_enter .dialog {
  translate: 0 -10%;
}

.modal_enter-active .dialog {
  transition: translate 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  translate: 0;
}

.modal_exit .dialog {
  translate: 0;
}

.modal_exit-active .dialog {
  transition: translate 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  translate: 0 -10%;
}
