*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: #222831;
  --background-contrast: #393e46;
  --background-lighter: #41474f;
  --background-lighter-hover: #454b54;
  --background-grey: #535d64;
  --background-grey-hover: #58626a;
  --accent-color: #6c63ff;
  --accent-hover: #817aff;
  --text-muted: #999999;
  font-size: 62.5%;
}

body {
  background-color: var(--main-background);
  font-size: 1.6rem;
}

.container {
  width: 100%;
  padding: 0 36px;
  margin: 0 auto;
  max-width: 1500px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
