.wrapper {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  font: inherit;
  text-align: inherit;
  background-color: var(--background-lighter);
  border: none;
  padding: 18px 24px;
  color: white;
  border-radius: 12px;
  box-shadow: var(--field-shadow);
  transition: background-color 0.2s ease-out;
}

.input:hover {
  background-color: var(--background-lighter-hover);
}

.input:focus {
  outline-color: transparent;
  outline-width: 0;
  border: none;
  background-color: var(--background-lighter-hover);
}

.input[readonly] {
  cursor: pointer;
}

.input_with-options {
  padding-right: 56px;
}

.arrow-icon {
  position: absolute;
  bottom: 21px;
  right: 24px;
  pointer-events: none;
  transition: transform 0.1s ease-out;
}

.arrow-icon_reversed {
  transform: rotateX(180deg);
}

.input__label {
  display: block;
  color: white;
  font-weight: 300;
  margin-bottom: 8px;
}
