.employees-list {
  display: flex;
  gap: 36px;
  list-style-type: none;
  padding-bottom: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 16px;
  margin-top: -16px;
}

.employees-list::-webkit-scrollbar {
  display: none;
}
