.wrapper {
  position: relative;
  display: flex;
  color: white;
}

.employee {
  --border-radius: 26px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-contrast);
  border-radius: var(--border-radius);
  min-height: 440px;
  max-height: 600px;
  width: 320px;
  color: white;
  flex-shrink: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.employee_loading {
  opacity: 0.5;
}

.employee__heading {
  display: flex;
  gap: 22px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--accent-color);
  padding: 18px 22px;
}

.employee__info {
  display: flex;
  flex-direction: column;
}

.employee__thumbnail {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  border-radius: 100%;
  border: 2px solid white;
  object-fit: cover;
  background-color: var(--accent-hover);
}

.employee__thumbnail_loading {
  animation: pulse 0.4s linear alternate infinite;
}

.employee__thumbnail-placeholder {
  padding-top: 16px;
  object-fit: contain;
  object-position: bottom;
}

.employee__name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.employee__label {
  font-weight: 300;
  margin-bottom: 8px;
}

.employee__tasks-count {
  font-weight: bold;
  margin-top: auto;
}

.employee__tasks {
  padding: 24px 22px;
}

.employee__spinner {
  position: absolute;
  inset: 0;
  margin: auto;
}

@media screen and (hover: hover) {
  .employee__delete-icon {
    --ease-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    opacity: 0;
    scale: 0;
    transition: opacity 0.2s var(--ease-back), scale 0.2s var(--ease-back), background-color 0.1s ease-out;
  }

  .wrapper:hover .employee__delete-icon {
    --ease-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    scale: 1;
  }
}

@keyframes pulse {
  100% {
    filter: brightness(1.2);
  }
}
